<div *ngIf="artist">
  <div class="artist-interface c">
    <div class="artist-info-wrapper c">
      <div class="cover-image-wrapper">
          <img class="artist-profile-image" [src]="artist.image_url"/>
      </div>
      <div class="cover-info-wrapper c">
        <div class="cover-info-inner-wrapper f1 c">
          <div class="f1"></div>
          <div class="r">
            <div class="artist-name">{{artist.name}}</div>
            <p>
              {{artist.upcoming_event_count}} | {{artist.tracker_count}}
            </p>
          </div>
        </div>
          
      </div>
   
    </div>
    <div class="events-wrapper">
      <table>
        <tr>
          <th>Date</th>
          <th>Venue</th>
          <th>Location</th>
          <th>Tickets</th>
        </tr>
        <tr *ngFor="let event of events">
          <td>{{event.datetime | date:'MMM d'}}</td>
          <td>{{event.venue.name}}</td>
          <td>{{event.venue.city}}, {{event.venue.region}}</td>
          <td><a href="{{event.url}}" target="_blank"><i class="fa fa-ticket" aria-hidden="true"></i></a></td>
        </tr>
      </table>
    </div>

  </div>


</div>
