

<div class="app-interface r">

    <div class="app-nav r">
        ROADI
    </div>
    <div class="app-search-wrapper r">
        <input id="app-search-input" placeholder="search artists" [(ngModel)]="searchQuery" (keyup)="search()" spellcheck="false"/>
    </div>
    <div class="app-nav r">
        Artists
    </div>
    <div class="app-nav r">
        Events
    </div>
    <div class="app-nav r">
        Venues
    </div>
    
</div>

<div class="search-result-interface r">

    <div class="search-result-item c" *ngFor="let item of resultList | async">
        <img [src]="item.thumb_url"/>
        <div class="item-info">
            <b>{{item.name}}</b>
        </div>
    </div>

</div>

<router-outlet></router-outlet>