
<div class="app-interface r">

    <a routerLink="/" class="app-nav r">R</a>

    <div class="app-search-wrapper r">
        <input id="app-search-input" placeholder="search artists" [(ngModel)]="searchQuery" (keyup)="search()" spellcheck="false"/>
    </div>

    <a routerLink="/artists" class="app-nav r">Artists</a>
    <a routerLink="/" class="app-nav r">Events</a>
    <a routerLink="/" class="app-nav r">Venues</a>

    <div class="f1"></div>

    <div class="app-nav r">
        <img src="https://scontent-yyz1-1.xx.fbcdn.net/v/t1.0-9/20882689_10209383461294031_8391804898909592920_n.jpg?oh=862383b21ca663b287f397f567b19382&oe=5A2635AB"/>
                
        <div>&nbsp;{{ (user | async)?.displayName }} </div>
        <button (click)="login()">Login</button>
        <button (click)="logout()">Logout</button>
    </div>
        
    <nav class="navbar navbar-default">
        <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Auth0 - Angular</a>
    
            <button
            class="btn btn-primary btn-margin"
            routerLink="/">
                Home
            </button>
    
            <button
            class="btn btn-primary btn-margin"
            *ngIf="!auth.isAuthenticated()"
            (click)="auth.login()">
                Log In
            </button>
    
            <button
            class="btn btn-primary btn-margin"
            *ngIf="auth.isAuthenticated()"
            (click)="auth.logout()">
                Log Out
            </button>
    
        </div>
        </div>
    </nav>
        
</div>



<div id='map' class="f1"></div>

<div class="search-result-interface r" *ngIf="searchQuery">

    <a href="/#/artists/{{item.name}}" class="search-result-item c" *ngFor="let item of resultList | async">
        <img [src]="item.thumb_url"/>
        <div class="item-info">
            <b>{{item.name}}</b>
        </div>
    </a>

</div>

<router-outlet></router-outlet>