
.app-panel{
    position:fixed;
    top:1em;
    left:1em;
    z-index:50;
    padding:0.5em 1em;
    background-color:rgba(12,12,12,0.8);

    &:hover{
        cursor:pointer;
        background-color:rgba(12,12,12,0.7);
    }
}