
.artist{
    align-items:center;
    width:300px;
    padding:0.5em 1em;
    background-color:rgba(255,255,255,0.7);
    color:#333;
    border-bottom:rgba(0,0,0,0.1) solid 1px;
    border-radius:1px;

    .artist-thumb{
        height:2em;width:2em;
        border-radius:3px;
    }
}
