
.artist-overall-wrapper{

    background-image:linear-gradient(to bottom, #666, #111);
    width:300px;
    padding:1em;

}

.artist{
    align-items:center;
    padding:0em 0em;
    color:#fff;
    border-bottom:rgba(0,0,0,0.2) solid 1px;
    border-radius:1px;

    .artist-thumb{
        height:2.5em;width:2.5em;
    }
}
